:root {
	--gray: 220, 10%;
}

body {
	font: 120%/1.5 Helvetica Neue, sans-serif;
	max-width: 90ch;
	margin: auto;
}

body > header {

}

pre {
	background: hsl(var(--gray), 90%);
}

a:not(:hover):not(:focus) {
	text-decoration: none;
}
