[mv-app="colorBundler"] {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .6em 1em;

	& #core,
	& #spaces,
	& #optional,
	& > pre,
	& > button,
	& a[download] {
		grid-column-end: span 2;
	}
}

fieldset {
	& ul {
		list-style: none;

		& li {
			position: relative;
			break-inside: avoid;
			margin-bottom: .5em;

			& input[type=checkbox],
			& input[type=radio] {
				position: absolute;
				right: 100%;
				margin: .8em;
			}
		}
	}

	& .description {
		margin: 0;
		font-size: 75%;
	}
}

#spaces ul {
	columns: 20em 2;
}

a[download] {
	display: block;
	padding: .5em;
	border-radius: .2em;
	color: white;
	text-align: center;
	font-weight: 900;
	background: var(--rainbow);
	animation: var(--rainbow-scroll);

	&:hover {
		text-decoration: none;
		background: var(--color-green);
	}
}
