/dist/
node_modules/

# Ignore generated HTML files
*.html
!*.tpl.html
!tests/*.html
!test/*.html
!benchmarks/*.html
!apps/*/*.html
assets/css/style.css
assets/css/home.css
assets/css/docs.css
apps/blackwhite/style.css
get/style.css
notebook/color-notebook.css
