@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap');
@import url('prism.css');
@import url('../../notebook/color-notebook.css');

:root {
	--gray: 220 10%;

	--font-sans: Public Sans, Helvetica Neue, sans-serif;
	--font-serif: Playfair Display, serif;
	--font-monospace: Consolas, Monaco, monospace;
	--font-body: var(--font-sans);
	--font-headings: var(--font-serif);

	--color-red: hsl(0 80% 50%);
	--color-green: hsl(90 50% 45%);
	--color-blue: hsl(210 80% 55%);

	--color-accent1: var(--color-red);
	--color-accent2: var(--color-green);
	--color-accent3: var(--color-blue);

	--page-width: 60rem;
	--page-margin: calc((100vw - var(--page-width)) / 2);
}

@supports (width: max(1px, 1rem)) {

:root {
		--page-margin: max(1rem, (100vw - var(--page-width)) / 2);
}
	}

:root {

	--rainbow: linear-gradient(to right, var(--gradient-steps, var(--color-red), var(--color-green), var(--color-blue), var(--color-red)))
	           150vw 0 / 150vw .3em fixed;
	--rainbow-scroll: rainbow-scroll 20s linear 2 both;
}

@keyframes rainbow-scroll {
	from {
		background-position-x: 0;
	}
}

@media (max-width: 20rem) {
	:root {
		--page-width: 98vw;
	}
}

body {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	font: 300 120%/1.5 var(--font-body);
	margin: 0;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-headings);
	font-weight: 900;
	line-height: 1;
}

a {
	color: var(--color-blue)
}

a:not(:hover):not(:focus) {
		text-decoration: none;
	}

a:active {
		color: var(--color-red);
	}

fieldset {
	border: 1px solid hsl(var(--gray) 80%);
	border-radius: .2em
}

fieldset legend {
		font: 700 120%/1 var(--font-headings);
	}

body > header,
body > footer {

	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
	animation: var(--rainbow-scroll)
}

body > header nav a, body > footer nav a {
			text-align: center;
		}

body > header nav a:not(.logo), body > footer nav a:not(.logo) {
			flex: 1;
			padding: .6em;
			font-weight: 800
		}

body > header nav a:not(.logo):hover, body > footer nav a:not(.logo):hover {
				-webkit-background-clip: initial;
				color: white;
				text-decoration: none;
			}

body > header {
	display: flex;
	flex-flow: column;
	--bg: var(--gray) 96%;
	background: linear-gradient(hsl(var(--bg) / .85), hsl(var(--bg) / .8)) 0 .3em no-repeat fixed,
		var(--rainbow)
		hsl(var(--bg));
	background-size: 100% 2.3em, 150vw 2.6em;
	background-repeat: no-repeat, repeat-x
}

body > header > h1,
	body > header > hgroup > h1 {
		margin: 0;
		color: hsl(220, 10%, 48%);
		font-family: var(--font-sans);
		font-weight: 700;
		letter-spacing: -.03em;
	}

body > header > h1 {
		margin: .5em 0;
		font-size: 300%;
		font-weight: 600;
	}

body > header nav {
		display: flex;
		justify-content: stretch;
		order: 0
	}

body > header nav .footer {
			display: none;
		}

@media (max-width: 800px) {
			body > header nav .wide {
				display: none;
			}
		}

body > header nav h1 {
			margin: 0
		}

body > header nav h1 img {
				height: 2.15em;
				margin-bottom: -1.5em;
				margin-left: -.3em;
			}

body > footer {
	padding-top: 1rem;
	background: var(--rainbow),
		hsl(var(--gray) 20%);
	animation: var(--rainbow-scroll);
	background-position-y: bottom;
	background-repeat: repeat-x;
	color: white
}

body > footer a {
		color: var(--color-blue-light)
	}

body > footer nav {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem
	}

@media (max-width: 600px) {

body > footer nav {
			flex-flow: column
	}
		}

main {
	flex: 1;
	width: var(--page-width);
	max-width: calc(100vw - 2em);
	margin: auto;
	padding: 1em;
	padding-top: 0
}

main h2 {
		position: relative;
		font-size: 250%;
		line-height: 1.2;
		color: var(--color-red)
	}

main h2 > a {

			color: inherit
		}

main h2 > a[href^="#"]:hover {
					text-decoration: underline;
					text-decoration-color: var(--color-blue-light)
				}

main h2 > a[href^="#"]:hover::before {
						content: "#";
						position: absolute;
						top: 0;
						right: 100%;
						color: var(--color-blue-light);
						font-weight: 900;
					}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: repeating-conic-gradient(transparent 0 25%, rgb(0 0 0 / .02) 0 50%) 0 0 / 1.5em 1.5em content-box border-box;
	background-color: hsl(var(--gray) 98%);
}

pre[class*="language-"] {
	flex: 1;
	max-width: calc(100vw - 2 * var(--page-margin, 1rem));
}

@supports (-webkit-background-clip: text) {
	body > header nav a,
	body > footer nav a,
	main h2 {
		background: var(--rainbow);
		animation: var(--rainbow-scroll);
		-webkit-background-clip: text;
		color: transparent;
	}
}

.read-more::before {
	content: "▸ ";
}

.warning,
.tip,
.note {
	position: relative;
	background: var(--color-light);
	padding: .8em 1em;
	border-left: .3em solid var(--color)
}

.warning::before, .tip::before, .note::before {
		content: var(--label) ": ";
		color: var(--color);
		text-transform: uppercase;
		font-size: 85%;
		font-weight: 700;
	}

.warning::after, .tip::after, .note::after {
		content: var(--emoji);
		position: absolute;
		top: -.7em;
		left: -.6em;
		font-size: 200%;
		text-shadow: .02em .05em .1em rgb(0 0 0 /.2);
	}

.warning code:not(.foo), .tip code:not(.foo), .note code:not(.foo) {
		background: hsl(0 0% 100% / .5);
	}

.warning {
	--color-light: var(--color-red-lighter);
	--color: var(--color-red);
	--label: "Warning";
	--emoji: "⚠️";
}

.tip {
	--color-light: var(--color-blue-lighter);
	--color: var(--color-blue);
	--label: "Tip";
	--emoji: "💡";
}

.note {
	--color-light: var(--color-green-lighter);
	--color: var(--color-green);
	--label: "Note";
	--emoji: "👉🏼";
}
