@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap');
@import url('prism.css');
@import url('../../notebook/color-notebook.css');

:root {
	--gray: 220, 10%;

	--font-sans: Public Sans, Helvetica Neue, sans-serif;
	--font-serif: Playfair Display, serif;
	--font-monospace: Consolas, Monaco, monospace;
	--font-body: var(--font-sans);
	--font-headings: var(--font-serif);

	--color-red: hsl(0 80% 50%);
	--color-green: hsl(90 50% 45%);
	--color-blue: hsl(210 80% 55%);

	--color-accent1: var(--color-red);
	--color-accent2: var(--color-green);
	--color-accent3: var(--color-blue);

	--page-width: 60rem;

	--rainbow: linear-gradient(to right, var(--gradient-steps, var(--color-red), var(--color-green), var(--color-blue), var(--color-red)))
	           300% 0 / 150% .3em fixed;
	--rainbow-scroll: rainbow-scroll 10s linear 2 both;
}

@keyframes rainbow-scroll {
	from {
		background-position-x: 0;
	}
}

@media (max-width: 20rem) {
	:root {
		--page-width: 98vw;
	}
}

body {
	font: 300 120%/1.5 var(--font-body);
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-headings);
	font-weight: 900;
	line-height: 1;
}

a {
	color: var(--color-blue);
}

	a:not(:hover):not(:focus) {
		text-decoration: none;
	}

	a:active {
		color: var(--color-red);
	}

body > header {
	display: flex;
	flex-flow: column;
	padding-bottom: 1rem;
	background: var(--rainbow)
	 hsl(var(--gray), 96%);
}

body > footer {
	padding: 1rem 0 1.3rem;
	background: var(--rainbow)
		hsl(var(--gray), 20%);
	background-position: bottom;
	color: white;
}

	body > footer a {
		color: var(--color-blue-light)
	}

body > header,
body > footer {
	--padding: calc((100vw - var(--page-width)) / 2);
	padding-left: var(--padding);
	padding-right: var(--padding);
	animation: var(--rainbow-scroll);
	background-repeat: repeat-x;
}

main {
	max-width: var(--page-width);
	margin: auto;
	padding: 1em;
}

.logo {
	margin: 1em auto;
	width: fit-content;
	display: grid;
	grid-gap: .3em 0;
	grid-template-columns: minmax(1em, auto) 1fr;
	font-size: 200%;
}

	.logo h1 {
		grid-row: 1;
		margin: 0;
		color: hsl(220, 10%, 48%);
		font-family: var(--font-sans);
		font-weight: 700;
		letter-spacing: -.03em;
	}

	.logo h2 {
		grid-row: 2;
		margin: 0;
		font-style: italic;
		font-size: 52%;
		font-weight: 800;
		color: hsl(220, 10%, 30%);
	}

	.logo img {
		grid-row: 1 / span 2;
		height: 3em;
	}

#features {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem 0;
	align-items: start;
}

@media (min-width: 800px) {
	#features {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 800px) {
	#features {
		padding: 1rem;
	}
}

	#features article {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: .1em .5em;
	}

	#features article::before {
		content: "✓";
		color: var(--color-green);
		font-size: 300%;
		line-height: .8;
		grid-row: 1 / span 2;
	}

	#features h4 {
		margin: 0;
	}

	#features p {
		margin: 0;
		font-size: 75%;
	}

body > header nav {
	order: 0;
	display: flex;
	justify-content: stretch;
}

	body > header nav a {
		flex: 1;
		padding: .6em;
		font-weight: 800;
		text-align: center;
	}

	body > header nav a:hover {
		-webkit-background-clip: initial;
		color: white;
		text-decoration: none;
	}

main h2 {
	font-size: 250%;
	line-height: 1.2;
	color: var(--color-red);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: repeating-conic-gradient(transparent 0 25%, rgb(0 0 0 / .02) 0 50%) 0 0 / 1.5em 1.5em content-box border-box;
	background-color: hsl(var(--gray), 98%);
}

pre[class*="language-"] {
	flex: 1;
	max-width: calc(100vw - 2 * var(--padding, 1rem));
}

@supports (-webkit-background-clip: text) {
	body > header nav a,
	main h2 {
		background: var(--rainbow);
		animation: var(--rainbow-scroll);
		-webkit-background-clip: text;
		color: transparent;
	}
}
