<a href="{{ page | relative }}/get/">Get<span class="wide"> Color.js</span></a>
<div class="menu">
	<a href="{{ page | relative }}/docs/">Docs</a>
	<ul>
		{% include "./_docs-nav.njk" %}
	</ul>
</div>
<a href="{{ page | relative }}/api/">API</a>
<a href="{{ page | relative }}/notebook/">Play!</a>
<a href="https://apps.colorjs.io/">Demos</a>
<a href="https://elements.colorjs.io/">Elements</a>
<a href="{{ page | relative }}/test/" class="footer">Tests</a>
<a href="https://github.com/LeaVerou/color.js">GitHub</a>
<a href="https://discord.gg/K64FJBznq4">Discord</a>
<a href="https://opencollective.com/color">♡&nbsp;Sponsor</a>
<a href="https://github.com/LeaVerou/color.js/issues/new" class="footer">File bug</a>
