<h1><code>&lt;css-color></code> Web Component</h1>

<script src="./css-color.js" type="module"></script>
<h2>Static</h2>
<css-color>oklch(70% 0.25 138)</css-color>
<css-color swatch="large">oklch(70% 0.25 138)</css-color>

<h2>Editable</h2>
<css-color>
	<input value="oklch(70% 0.25 138)" />
</css-color>
<css-color swatch="large">
	<input value="oklch(70% 0.25 138)" />
</css-color>

<h2>Update via JS</h2>
<h3>Static</h3>
<css-color id="dynamic_static">oklch(70% 0.25 138)</css-color>
<script type="module">
	dynamic_static.color = "oklch(60% 0.15 0)"
</script>
<h3>Editable</h3>
<css-color id="dynamic_editable">
	<input value="oklch(70% 0.25 138)" />
</css-color>
<script type="module">
	dynamic_editable.color = "oklch(60% 0.15 0)"
</script>