<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gamut Mapping Experiments - Gradients</title>
	<link rel="stylesheet" href="gradients.css" />
	<link rel="shortcut icon" />
	<script type="module" src="../../elements/css-color/css-color.js"></script>
	<script type="module" src="gradients.js"></script>
</head>
<body>
	<header>
		<h1>Gamut Mapping Gradients</h1>
		<p>Use keyboard arrow keys to increment/decrement, share by copying the URL</p>
	</header>
	<div class="controls">
		<label for="space">Interpolation space:</label>
		<select v-model="space" name="space">
			<option v-for="space in interpolationSpaces" :value="space">{{ space }}</option>
		</select><br/>
		<label for="maxDeltaE">Max DeltaE between steps:</label>
		<input v-model="maxDeltaE" type="number" min="1" name="maxDeltaE"/><br/>
		<div>{{steps.length}} Gradient Steps</div>
		<label for="flush">Flush:</label> <input type="checkbox" v-model="flush" name="flush">
	</div>
	<div class="color-inputs">
		<css-color swatch="large" @colorchange="colorChangeFrom" :value="from">
			<input v-model="from" />
		</css-color>
		<css-color swatch="large" @colorchange="colorChangeTo" :value="to">
			<input v-model="to" />
		</css-color>
	</div>
	<div class="mapped-gradient oog">
		<details class="gamut-legend"><summary><strong>Gamut indicator</strong></summary>
			Shows the smallest gamut that the color from the unmapped gradient fits in.
			<ul>
				<li><span class="color-block" style="--step-color:yellowgreen"></span> In sRGB</li>
				<li><span class="color-block" style="--step-color:gold"></span> In p3</li>
				<li><span class="color-block" style="--step-color:orange"></span> In rec2020</li>
				<li><span class="color-block" style="--step-color:red"></span> Out of rec2020</li>
			</ul>
		</details>
		<div class="gradient">
			<div v-for="[title, step] in oogSteps" :style="{'--step-color': step}" :title="title"></div>
		</div>
	</div>
	<div :class="{flush, 'gradients': true}">
		<article class="method" v-for="(i, method) of methods">
			<mapped-gradient :key="i" :steps="steps" :method="i" @report-time="reportTime"/>
		</article>
	</div>
	<timing-info :run-results="runResults" />
	<div class="footer">
		<a href="./index.html">Gamut mapping Playground</a>
	</div>
</body>
</html>