<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gamut Mapping Experiments</title>
	<link rel="stylesheet" href="style.css" />
	<link rel="shortcut icon" />
	<script type="module" src="../../elements/css-color/css-color.js"></script>
	<script type="module" src="index.js"></script>
</head>
<body>
	<header>
		<h1>Gamut Mapping Playground</h1>
		<p>Use keyboard arrow keys to increment/decrement, share by copying the URL</p>
	</header>

	<section id="rendering">
		<h2>Browser rendering</h2>

		<dl class="swatches">
			<div>
				<dt>Input
					<small class="description">The color as displayed directly by the browser.</small>
				</dt>
				<dd>
					<css-color swatch="large" @colorchange="event => colorNullable = event.detail.color" :value="colorInput">
						<input v-model="colorInput" />
					</css-color>
				</dd>
			</div>
		</dl>
	</section>

	<section id="gamut-mapped">
		<h2>Gamut mapped</h2>

		<dl class="swatches" id="gamut_mapped">
			<div v-for="(config, method) in methods" :id="'method-' + method">
				<dt>
					{{ config.label ?? method[0].toUpperCase() + method.slice(1) }}
					<small v-if="config.description" class="description">{{ config.description }}</small>
				</dd>
				<dd>
					<css-color swatch="large" :color="mapped[method].color"></css-color>
					<dl class="deltas" v-if="!color.inGamut('p3')">
						<template v-for="(delta, c) of mapped[method].deltas">
							<dt>Δ{{ c }}</dt>
							<dd :class="{
								positive: delta > 0,
								negative: delta < 0,
								zero: delta === 0,
								min: minDeltas[c] === abs(delta),
							}">{{ delta }}</dd>
						</template>
					</dl>
				</dd>
			</div>
		</dl>
	</section>

	<section id="coordinates">
		<h2>Coordinates</h2>
		<dl id="coords">
			<div v-for="(space, spaceIndex) of spaces">
				<dt>{{ space.name }}</dt>
				<dd>
					<dl class="coords">
						<div v-for="(info, c) of space.coords">
							<dt :title="info.name">{{ c.toUpperCase() }}</dt>
							<dd>{{ toPrecision(info.value, 3) }}</dd>
						</div>
					</dl>
				</dd>
			</div>
		</dl>
	</section>
</body>
</html>