:root {
	--font-mono: Consolas, Inconsolata, Monaco, monospace;
}

body {
	font: 100%/1.5 system-ui;
	max-width: 80em;
	margin: 1em auto;
	padding-inline: 1em;
}

body > header {
	text-align: center;
	margin-bottom: 2em;

	h1 {
		font-size: calc(200% + 2vh + 2vw);
		margin-bottom: 0;
		line-height: 1.1;
	}
}

input {
	font: inherit;
}

css-color input {
	padding: .15em .3em .1em;
	border: 1px solid hsl(220 10% 78%);
	border-radius: .25em;
	font-family: var(--font-mono);

	&:invalid {
		background-color: hsl(0 60% 95%);
		border-color: hsl(0 60% 80%);
	}
}

dl.swatches {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));

	> div {
		display: grid;
		grid-template-rows: subgrid;
		grid-row-end: span 2;
		gap: .5em;
	}

	.description {
		display: block;
		font-size: 70%;
		color: hsl(220 10% 50%);
		text-wrap: balance;
	}

	dt {
		margin-top: auto;
	}

	dd {
		margin: 0;
	}

	css-color {
		width: 100%;
	}

	input {
		width: 100%;
		min-width: 25ch;
	}

	[data-method="scale"] input {
		min-width: 33ch;
	}
}

dl.deltas {
	display: flex;
	gap: .1em;
	margin: 0;
	margin-top: .6em;
	border-top: 1px solid hsl(220 10% 80%);
	padding-block: .1em;
	padding-left: .1em;
	padding-right: .5em;
	width: max-content;

	dt {
		font-weight: 300;
		color: hsl(220 10% 50%);

		~ dt {
			margin-left: .5em;
		}
	}

	dd {
		font-weight: bold;
		margin: 0;

		&.negative,
		&.positive {
			color: var(--color-red-40, hsl(0 60% 30%));
		}

		&.positive {
			&::before {
				content: "+";
			}
		}

		&.min {
			color: var(--color-green-50, hsl(70 100% 32%));
		}

		&.zero {
			color: var(--color-green-40, hsl(85 100% 28%));
		}
	}
}