<li><a href="{{ page | relative }}/docs/the-color-object.html">The Color object</a></li>
<li><a href="{{ page | relative }}/docs/spaces.html">Supported color spaces</a></li>
<li><a href="{{ page | relative }}/docs/color-difference.html">Color difference</a></li>
<li><a href="{{ page | relative }}/docs/manipulation.html">Color manipulation</a></li>
<li><a href="{{ page | relative }}/docs/gamut-mapping.html">Gamut Mapping</a></li>
<li><a href="{{ page | relative }}/docs/interpolation.html">Interpolation</a></li>
<li><a href="{{ page | relative }}/docs/adaptation.html">Chromatic Adaptation</a></li>
<li><a href="{{ page | relative }}/docs/output.html">Output</a></li>
<li><a href="{{ page | relative }}/docs/procedural.html">Procedural, tree-shakable API</a></li>
