<footer>
	<a href="{{ page | relative }}/notebook/index.html?storage=https://github.com/leaverou/color.js{{page.inputPath.slice(1)}}" class="edit-page" target="_blank">
		Edit this page on Color Notebook
	</a>
</footer>