<a href="{{ page | relative }}/get/">Get<span class="wide"> Color.js</span></a>
<div class="menu">
	<a href="{{ page | relative }}/docs/">Docs</a>
	<ul>
		{% include "./_docs-nav.njk" %}
	</ul>
</div>
<a href="{{ page | relative }}/api/">API</a>
<a href="{{ page | relative }}/notebook/">Play!</a>
<a href="{{ page | relative }}/apps/">Demos</a>
<a href="{{ page | relative }}/tests/" class="footer">Tests</a>
<a href="https://github.com/LeaVerou/color.js">GitHub</a>
<a href="https://github.com/LeaVerou/color.js/issues/new" class="footer">File bug</a>
