---
layout: "page.njk"
title: Color.js Docs
---

<nav>
	<ul>
		{% include "../templates/_docs-nav.njk" %}
	</ul>
</nav>

<!-- <section mv-app="docs" mv-source="https://api.github.com/repos/leaverou/color.js/contents/docs" mv-mode="read">
	<div class="mv-bar mv-ui"></div>
	<ul>
		<li property="file" mv-multiple hidden="[ext != 'md']">
			<a href="[id].html">[readable(id)]</a>
			<meta property="ext" content="[from(name, '.')]">
			<meta property="id" content="[to(name, '.')]">
		</li>
	</ul>
</section> -->
