:host {
	display: inline-flex;
	gap: .3em;
	width: min-content;
	white-space: nowrap;
	--background-checkerboard: repeating-conic-gradient(rgb(0 0 0 / .12) 0 25%, transparent 0 50%) 0 0 / 1em 1em;
}

#gamut {
	font-size: 80%;

	&[gamut="srgb"] {
		display: none;
	}
}

#wrapper {
	display: flex;
	flex-flow: inherit;

	&.static {
		gap: .4em;
	}
}

[part="color-wrapper"] {
	position: relative;
	display: flex;
	gap: .2em;

	&:not(.static *) {
		#gamut {
			position: absolute;
			inset: .3em;
			inset-inline-start: auto;
		}
	}

	::slotted(input) {
		padding-inline-end: 2em;
	}
}

:host(:not([for])) #swatch {
	display: block;
	inline-size: 2em;
	border-radius: .2em;
	background: linear-gradient(var(--color, transparent) 0 100%), var(--background-checkerboard);
}

:host([swatch="none"]) #swatch {
	display: none;
}

:host(:not([for])):host([swatch="large"]) {
	flex-flow: column;

	#wrapper {
		flex-flow: column;
	}
}

:host(:not([for])):host([swatch="large"]) #swatch {
	inline-size: auto;
	block-size: 5em;
}

:host(:not([for])):host([swatch="large"]) #wrapper.static slot {
	display: flex;
	flex: 1;
}